{% extends "base.html" %}
{% block content %}
    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h3>Вы уверены, что хотите удалить кальянную: </h3>
            <h2 class="text-danger">{{ name_hookah }}</h2>
            <form action="{{ url_for('hookahs.bar_delete', name_hookah=name_hookah) }}" method="post">
                    {{ form.hidden_tag() }}
                <div class="form-signin w-100 m-auto">
                <div class="form-floating">
                    {{ form.name_hookah() }}
                    <label for="floatingInput">Название кальянной</label>
                </div>
                <div class="form-floating ">
                    {{ form.login_password() }}
                    <label for="floatingPassword">Password</label>
                </div>
                </div>
                <div class="button" data-bs-theme="dark">
                    {{ form.submit(class_="btn btn-lg btn-warning") }}
                    <a href="{{ url_for('hookahs.bars') }}" class="btn btn-lg btn-secondary">Back to Hookah list</a>
                </div>
{#            <a href="{{ url_for('hookahs.bar_delete', name_hookah=bar.name_hookah) }}" class="btn btn-lg btn-warning">DELETE</a>#}
            </form>

        </div>
    </section>
{% endblock %}