<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img width="50" height="50" hspace="20" src="{{ url_for('static', filename='favicon.ico') }}">
            <a href="/home/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h3>CRM-HookahBars</h3>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                <li class="nav-item active">
                    <a href="{{ url_for('hookahs.bars') }}" class="nav-link px-2 text-white">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="{{ url_for('hookahs.bars') }}" class="nav-link px-2 text-white">
                        Your hookah bars
                    </a>
                </li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>


            <div class="text-end">
                {% if current_user.is_authenticated %}
                    <span class="px-2 text-white">Привет, {{ current_user.username }}</span>
                    {% if current_user.is_admin %}
                        <a href="{{ url_for('admin.admin_index') }}" class="btn btn-outline-light me-2" role="button">Админка</a>
                    {% endif %}
                    <a href="{{ url_for('user.logout') }}" class="btn btn-warning" role="button">Logout</a>
                {% else %}
                    <a href="{{ url_for('user.login') }}" class="btn btn-outline-light me-2" role="button">Login</a>
                    <a href="{{ url_for('user.register') }}" class="btn btn-warning" role="button">Sign-up</a>
                {% endif %}

            </div>

        </div>
    </div>
</header>