{% extends "base.html" %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
            <h2 class="text-center">
                Hookah bar
                <a href="{{ url_for('hookahs.bar_edit', name_hookah=name_hookah) }}" class="text-danger">
                    {{ title }}
                </a>
            </h2>
            <div class="subtitle alt-font">
                <h2 class="text-center">
                    Today
                    <span class="text-primary">{{ today.day }}</span>

                    <span class="title">{{ month }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="schedule-table">
                    <table class="table bg-white">
                        {# Колонка расписания #}
                        <tr>
                            <th>Time panel</th>
                            {% for table in tables_list %}

                                <td class="day">
                                    {# Ссылка на все заказы стола в этот день #}
                                    <a href="{{ url_for('tables.table_edit', table_id=table.id) }}">
                                        Стол - {{ table.table_number }}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>

                        {% for time_tuple in time_panel_list %}
                            <tr>
                                <th>{{ time_tuple[0] }}</th>
                                {% for item in time_tuple[2:] %}

                                    {% if item[1] == None %}
                                        <td class="active">
                                            <form action="{{ url_for(
                                                'dashboards.booking',
                                                name_hookah=title,
                                                table_id=item[0]
                                                ) }}" method="post">
                                                {{ booking_form.hidden_tag() }}
                                                <p>
                                                    Забронировать на имя:
                                                </p>

                                                <div class="hover">
                                                    {# Форма бронирования #}
                                                    <h4>{{ booking_form.bookers_name }}</h4>
                                                    <button class="btn btn-link fs-5 link-secondary"
                                                            type="submit"
                                                            style=" --bs-btn-padding-y: .0rem; --bs-btn-padding-x: .0rem;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="16"
                                                             fill="currentColor" class="bi bi-plus-circle"
                                                             viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                        </svg>
                                                    </button>
                                                    <p>
                                                        Время:
                                                        {{ booking_form.start_date_time_brooke(value=time_tuple[0]) }}
                                                        -
                                                        {{ booking_form.finish_date_time_brooke(value=time_tuple[1]) }}
                                                    </p>
                                                </div>
                                            </form>
                                        </td>
                                        {% else %}
                                        <td class="active">
                                            <h5>Забронировано на имя<br>{{ item.bookers_name }} </h5>
                                            <p>{{ item.start_date_time_brooke.time().strftime("%H:%M") }} - {{ item.finish_date_time_brooke.time().strftime("%H:%M") }}</p>

                                            <div class="hover">
                                                <h4>Заказ №...</h4>
                                                <p>Сумма: ...</p>
                                                <span>Не оплачено</span><br>
                                                <a href="{{ url_for(
                                                            'dashboards.booking_delete',
                                                            name_hookah=title,
                                                            booking_id=item.table_id
                                                            ) }}" class="fs-5 link-secondary" methods="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                         height="16" fill="currentColor" class="bi bi-x-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>



                                    {% endif %}
                                {% endfor %}


                            </tr>
                        {% endfor %}


                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}