{% extends "base.html" %}
{% block content %}
    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h3>Вы уверены, что хотите удалить позицию: </h3>
            <h2 class="text-danger">{{ item.item_name }}</h2>
            <form action="{{
                url_for(
                    'menu.delete_item',
                    name_hookah=name_hookah,
                    category_name=category_name,
                    item_name=item_name
                )
            }}" method="post">
                    {{ item_delete_form.hidden_tag() }}
                <div class="form-signin w-100 m-auto">
                <div class="form-floating">
                    {{ item_delete_form.item_name }}
                    <label for="floatingInput">Название позиции</label>
                </div>
                </div>
                <div class="button" data-bs-theme="dark">
                    {{ item_delete_form.submit(class_="btn btn-lg btn-warning") }}
                    <a href="{{ url_for('menu.menu_edit', name_hookah=name_hookah) }}" class="btn btn-lg btn-secondary">Back to Hookah Menu</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}